{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container py-5">
  <h1 class="h1 mb-5">Cart</h1>
  {% if cart_items %}
  <div class="row">
    <div class="col-12 col-md-9">
      {% comment %} Cart line items table {% endcomment %}
      <table class="table text-primary table-borderless">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-right">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in cart_items %}
          <tr>
            <th scope="row align-middle font-weight-normal">
              {% comment %}
              Alt tag left blank here to avoid screen reader noise.
              The image is of the product, but as a line item in a table,
              it is decorative and does not need to be read out.
              {% endcomment %}
              <img width="90" height="90" src="{{ line_item.product.image.url }}" alt=""
                class="img-fluid mr-3 font-weight-normal">{{ line_item.product.name }}
            </th>
            <td class="align-middle font-weight-normal text-center">€{{ line_item.product.price }}</td>
            <td class="align-middle font-weight-normal text-center">
              <form class="form update-form" method="POST" action="{% url 'adjust_cart' line_item.product.id %}">
                {% csrf_token %}
                {% include 'includes/snippets/quantity_selector.html' with quantity=line_item.quantity product=line_item.product %}
              </form>
              <form class="form update-form" method="POST"
                action="{% url 'remove_item_from_cart' line_item.product.id %}">
                {% csrf_token %}
                <button class="text-primary bg-transparent border-0" aria-label="Remove item from cart">
                  <small>Remove</small>
                </button>
              </form>
            </td>
            <td class="align-middle font-weight-normal text-right">€{{ line_item.line_total }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-3">
      <div class="d-flex justify-content-between align-items-center subtotal-container">
        <h4 class="h4 w-100"><strong>Subtotal</strong></h4>
        <span class="h5 subtotal-price">€{{ subtotal }}</span>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3 shipping-container">
        <h5 class="h5 w-100 ">Shipping</h5>
        {% if free_shipping %}
        <span class="h5">Free</span>
        {% else %}
        <span class="h5">€{{ shipping|floatformat:2 }}</span>
        {% endif %}
      </div>
      <hr class="bg-primary">
      <div class="d-flex justify-content-between align-items-center total-container">
        <h4 class="h4 w-100"><strong>Total</strong></h4>
        <span class="h5 total-price">€{{ cart_total|floatformat:2 }}</span>
      </div>
      <h5 class="h5 mt-4">Order note</h5>
      <textarea name="cart-order-note" id="cart-order-note" class="w-100" cols="20" rows="5"></textarea>
      <div class="d-flex flex-column w-100 buttons-container">
        <a href="{% url 'view_checkout' %}" class="btn btn-primary w-100">Checkout</a>
        <a href="{% url 'products' %}" class="btn btn-outline-primary w-100 mt-1">Continue shopping</a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h2 class="h2">Your cart is empty</h2>
    <a href="{% url 'products' %}" class="btn btn-primary mt-3">Continue shopping</a>
  </div>
  {% endif %}
</section>
{% endblock content %}

{% block post_load_js %}
{{ block.super }}
{% include 'product/includes/quantity_input_script.html' %}
{% endblock %}