{% if widget.is_initial %}
<p>{{ widget.initial_text }}:</p>
<a href="{{ widget.value.url }}">
  <img draggable="false" width="150" height="150" class="rounded shadow-sm" src="{{ widget.value.url }}"
    alt="Previously selected image">
</a>
{% if not widget.required %}
<div class="mt-2">
  <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
  <label class="text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}
  </label>
</div>
{% endif %}
{{ widget.input_text }}
{% endif %}
<span class="btn btn-primary rounded btn-file">
  Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"
    {% include "django/forms/widgets/attrs.html" %}>
</span>
<p class="text-danger" id="filename"></p>