{% extends "base.html" %}
{% load static %}

{% block title %}Order Summary{% endblock %}

{% block content %}
<section id="order-summary-page" class="container-fluid py-4 p-md-5">
  <h1 class="h1">Thank you!</h1>
  <p class="my-4">A confirmation email has been sent to <em>{{ order.email }}</em></p>
  <div class="row order-summary-container mx-0">
    <div class="col-lg-6 order-summary border border-primary p-4">
      <h2 class="h2">Order Summary</h2>
      <div
        class="d-flex flex-column flex-lg-row align-items-start justify-content-between align-items-lg-center mt-4 order-number-container">
        <span><strong>Order Number:</strong></span>
        <span class="text-break">{{ order }}</span>
      </div>
      <div
        class="d-flex flex-column flex-lg-row align-items-start justify-content-between align-items-lg-center mb-3 order-date-container">
        <span><strong>Order date:</strong></span>
        <span>{{ order.date }}</span>
      </div>
      {% comment %} Order summary table {% endcomment %}
      <div class="overflow-auto table-container">

        <table class="table text-primary table-borderless">
          <thead>
            <tr>
              <th scope="col" class="border-primary"><strong>Product</strong></th>
              <th scope="col" class="text-center border-primary"><strong>Price</strong></th>
              <th scope="col" class="text-center border-primary"><strong>Quantity</strong></th>
              <th scope="col" class="text-right border-primary"><strong>Total</strong></th>
            </tr>
          </thead>
          <tbody>
            {% for line_item in order.line_items.all %}
            <tr>
              <th scope="row align-middle" class="font-weight-normal">
                {% comment %}
                Alt tag left blank here to avoid screen reader noise.
                The image is of the product, but as a line item in a table,
                it is decorative and does not need to be read out.
                {% endcomment %}
                {% if line_item.product.image %}
                <img draggable="false" width="90" height="90" src="{{ line_item.product.image.url }}" alt=""
                  class="img-fluid mr-3 font-weight-normal">
                {% endif %}
                {{ line_item.product.name }}
              </th>
              <td class="align-middle font-weight-normal text-center">€{{ line_item.product.price }}</td>
              <td class="align-middle font-weight-normal text-center">
                {{ line_item.quantity }}
              </td>
              <td class="align-middle font-weight-normal text-right">€{{ line_item.line_item_total }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr class="hr mt-4 border-primary">
      <div class="d-flex justify-content-end">
        <div class="col-2 col-lg-6">

        </div>
        <div class="col-4">
          <p class="h6 text-right"><strong>Subtotal</strong></p>
          <p class="h6 text-right"><strong>Shipping</strong></p>
          <p class="h6 text-right"><strong>Total</strong></p>
        </div>
        <div class="col-4 pr-4">
          <p class="h6 text-right">€{{ order.order_subtotal }}</p>
          <p class="h6 text-right">€{{ order.shipping_cost|floatformat:2 }}
          </p>
          <p class="h6 text-right">€{{ order.order_total|floatformat:2 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 delivery-details border border-primary p-3 p-md-4 mt-5 mt-lg-0 ml-lg-5">
      <h2 class="h2">Delivery details</h2>
      <h3 class="h5 mt-3"><strong>Shipping address:</strong></h3>
      <address>
        <p class="mb-1">{{ order.first_name }} {{ order.last_name }}</p>
        <p class="mb-1">{{ order.street_address1 }}</p>
        {% if order.street_address2 %}
        <p class="mb-1">{{ order.street_address2 }}</p>
        {% endif %}
        <p class="mb-1">{{ order.town_or_city }}</p>
        <p class="mb-1">{{ order.postcode }}</p>
        <p class="mb-1">{{ order.county }}</p>
        <p class="mb-1">{{ order.country }}</p>
      </address>

      <h3 class="h5 mt-3"><strong>Estimated delivery:</strong></h3>
      <p>{{ order.estimated_delivery_date }}</p>
    </div>
  </div>
  <div class="back-button my-3">
    {% if from_profile %}
    <a href="{% url 'profile' %}" class="btn btn-primary"><i class="fa fa-chevron-left fa-sm"></i> Back to
      profile</a>
    {% else %}
    <a href="{% url 'products' %}" class="btn btn-primary">
      <i class="fa fa-chevron-left fa-sm"></i> Continue
      shopping
    </a>
    {% endif %}
  </div>
</section>

{% endblock %}