{% extends "base.html" %}
{% load static %}

{% block title %}- Blog posts{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% comment %} Blog post list {% endcomment %}
{% block content %}
<section class="container p-2 py-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="h1 mb-0 w-50">Blog</h1>
    {% comment %} Sort {% endcomment %}
    <div class="d-flex align-items-center sort-select-wrapper col-6 col-md-3 p-0">
      <label for="sort-selector" class="sr-only">Sort by</label>
      <select id="sort-selector"
        class="custom-select custom-select-sm rounded border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
        <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
        <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6 px-md-0">
    <p class="text-secondary mt-3 text-center text-md-left">
      {% if search_term or current_sorting != 'None_None' %}
      <a href="{% url 'blog_posts' %}">Reset blog post order</a>
      {% endif %}
    </p>
    <p class="text-secondary text-center text-md-left mb-0">Showing {{ page|length }} of {{ total_blog_posts_number }}
      posts
    </p>
  </div>
  <div class="row my-3">
    {% comment %} Blog post cards {% endcomment %}
    {% for blog_post in page %}
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <form class="position-absolute bg-light z-index-2 p-2 rounded-circle"
        action="{% url 'favourite_blog_post' blog_post.id %}">
        {% csrf_token %}
        <button type="submit" class="btn p-0 text-primary border-0"
          aria-label="{% if request.user.userprofile in blog_post.favourited.all %}Remove from favourites{% else %}Add to favourites{% endif %}">
          <i
            class="fa-{% if request.user.userprofile in blog_post.favourited.all %}solid{% else %}regular{% endif %} fa-xl fa-star"></i>
        </button>
      </form>
      <div class="card blog-post-card">
        {% if blog_post.featured_image %}
        <img draggable="false" class="card-img-top rounded-0" src="{{ blog_post.featured_image.url }}"
          alt="{{ blog_post.title }}">
        {% endif %}
        <div class="card-body bg-primary text-light p-4 mb-0">
          <div class="d-flex align-items-center mb-3">
            <h5 class="h6 w-100 card-title m-0"><strong>{{ blog_post.title }}</strong></h5>
            {% if request.user.superuser or request.user.userprofile == blog_post.author %}
            <div class="action-button-container d-flex align-items-center ml-2">
              <a href="{% url 'edit_blog_post' blog_post.id %}" class="edit-button text-light blog-post__link">Edit</a>
              <a href="{% url 'delete_blog_post' blog_post.id %}" type="submit"
                class="delete-link blog-post__delete-link ml-2 text-light blog-post__link">Delete</a>
            </div>
            {% endif %}
          </div>
          {% if blog_post.excerpt %}
          {{ blog_post.excerpt|truncatechars:100|safe }}
          {% endif %}
          <a href="{% url 'blog_post_detail' blog_post.id %}" class="text-light link blog-post__link">Read more</a>
        </div>
        <div class="card-footer bg-primary border-0 text-light text-right w-100">
          <small>
            <strong>
              By {{ blog_post.author_name}}
            </strong>
          </small>
          <br>
          <small>
            <strong>
              {{ blog_post.created_on|date:"d/m/y" }}
            </strong>
          </small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if page.paginator.num_pages > 1 %}
  <div class="pagination justify-content-center">
    <a href="?page=1" class="btn btn-secondary" aria-label="Switches to page 1">First</a>

    {% for num in page.paginator.page_range %}
    {% if num == page.number %}
    <span class="btn btn-light text-primary text-underline ml-1">{{ num }}</span>
    {% else %}
    <a href="?page={{num}}" class="btn btn-secondary ml-2" aria-label="Switches to page {{num}}">
      {{ num }}
    </a>
    {% endif %}
    {% endfor %}

    <a href="?page={{page.paginator.num_pages}}" class="btn btn-secondary ml-2"
      aria-label="Switches to page {{page.paginator.num_pages}}">
      Last
    </a>
  </div>
  {% endif %}
</section>
{% comment %} Delete confirmation modal {% endcomment %}
<dialog id="delete-modal" class="bg-dark text-light">
  <div class="modal-box p-3">
    <h3 id="delete-modal-message" class="font-bold mb-3">Are you sure you want to proceed? This action cannot be undone.
    </h3>
    <div class="row pt-4 justify-content-lg-end">
      <div class="col-12 col-lg-3">
        <button type="button" class="btn btn-outline-light delete-cancel-button w-100">No, cancel.</button>
      </div>
      <div class="col-12 col-lg-3">
        <form id="delete-modal-form" action="#" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger delete-confirm-button w-100 mt-2 mt-lg-0">Yes, proceed.</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
{% endblock %}

{% block post_load_js %}
{{ block.super }}
<script>
  $('#sort-selector').change(function () {
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if (selectedVal != "reset") {
      var sort = selectedVal.split("_")[0];
      var direction = selectedVal.split("_")[1];

      currentUrl.searchParams.set("sort", sort);
      currentUrl.searchParams.set("direction", direction);

      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete("sort");
      currentUrl.searchParams.delete("direction");

      window.location.replace(currentUrl);
    }
  })
</script>
{% endblock %}