{% extends "base.html" %}
{% load static %}

{% block title %}All sleep products{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}

{% comment %} Product list {% endcomment %}
{% block content %}
<section class="container p-5">
  <div class="d-flex justify-content-between">
    <h1 class="h1 w-100">All sleep products</h1>
    {% comment %} Sort {% endcomment %}
    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
      <div class="sort-select-wrapper w-50">
        <select id="sort-selector"
          class="custom-select custom-select-sm rounded border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
          <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
          <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
          </option>
          <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
          </option>
          <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating
            (low to high)
          </option>
          <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to
            low)</option>
          <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
          <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 px-md-0">
    <p class="text-secondary mt-3 text-center text-md-left">
      {% if search_term or current_sorting != 'None_None' %}
      <a href="{% url 'products' %}">Reset products</a>
      {% endif %}
    </p>
    <p class="text-secondary text-center text-md-left">Showing {{ products|length }} of {{ total_products_number }}
      products
    </p>
  </div>
  <div class="row my-5">
    {% comment %} Product cards {% endcomment %}
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card border-0 bg-transparent">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% endif %}
        <div class="card-body px-0">
          <div class="d-flex align-items-center">
            <h5 class="h5 w-100 mb-0 card-title">{{ product.name }}</h5>
            {% if request.user.is_superuser %}
            <div class="action-button-container d-flex">
              <a class="btn btn-primary btn-sm edit-button" href="{% url 'edit_product' product.id %}">Edit</a>
              <a href="{% url 'delete_product' product.id %}" type="submit"
                class="btn btn-danger btn-sm delete-link ml-2">Delete</a>
            </div>
            {% endif %}
          </div>
          <p class="card-text mt-2 mb-0">€ {{ product.price }}</p>
          <div class="fixed-height-div">
            {% include 'product/includes/reviews_stars.html' with reviews_count=product.reviews_count reviews_average=product.reviews_average %}
          </div>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-primary w-100 mt-3">View product</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% comment %} Delete confirmation modal {% endcomment %}
<dialog id="delete-modal" class="bg-dark text-light">
  <div class="modal-box p-3">
    <h3 id="delete-modal-message" class="font-bold mb-3">Are you sure you want to proceed? This action cannot be undone.
    </h3>
    <div class="row pt-4 justify-content-lg-end">
      <div class="col-12 col-lg-3">
        <button type="button" class="btn btn-outline-light delete-cancel-button w-100">No, cancel.</button>
      </div>
      <div class="col-12 col-lg-3">
        <form id="delete-modal-form" action="" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger delete-confirm-button w-100 mt-2 mt-lg-0">Yes, proceed.</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
{% endblock content %}
{% block post_load_js %}
{{ block.super }}
<script type="text/javascript">
  $('#sort-selector').change(function () {
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if (selectedVal != "reset") {
      var sort = selectedVal.split("_")[0];
      var direction = selectedVal.split("_")[1];

      currentUrl.searchParams.set("sort", sort);
      currentUrl.searchParams.set("direction", direction);

      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete("sort");
      currentUrl.searchParams.delete("direction");

      window.location.replace(currentUrl);
    }
  })
</script>
{% endblock %}