{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container p-5">
  <div class="d-flex justify-items-between">
    <h1 class="h1">All sleep products</h1>
    <div class="filters">

    </div>
  </div>
  <div class="row my-5">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <div class="card border-0 bg-transparent">
        <a href="/media/pillow-spray.webp" target="_blank"></a>
        <img class="card-img-top" src="/media/pillow-spray.webp" alt="{{ product.name }}">
        <div class="card-body px-0">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">€ {{ product.price }}</p>
          <div class="w-100 d-flex align-items-center reviews-container">
            <div class="d-flex pl-0 reviews__stars">
              <i class="fa fa-star reviews_star"></i>
              <i class="fa fa-star reviews_star"></i>
              <i class="fa fa-star reviews_star"></i>
              <i class="fa fa-star reviews_star"></i>
              <i class="fa fa-star reviews_star"></i>
            </div>
            <div class="reviews__based-on-text ml-1 pr-0"><small class="font-xs">(Based on 17
                reviews)</small>
            </div>
          </div>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-primary w-100 mt-3">View product</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}