{% extends "base.html" %}
{% load static %}
{% block title %}About us{% endblock %}

{% block content %}
<section class="container py-5" id="about-section">
  <h1 class="h1 mt-3">About us</h1>
  <p class="lead">Sleep Healthily is a company that is dedicated to providing the best sleep products to our customers.
    We believe that sleep is an essential part of our lives and we want to help you get the best sleep possible. We
    offer a wide range of products that are designed to help you get the best sleep possible. Our products are designed
    to help you get the best sleep possible. We offer a wide range of products that are designed to help you get the
    best sleep possible. Our products are designed to help you get the best sleep possible.</p>
  <p class="lead">We offer a wide range of products that are designed to help you get the best sleep possible. Our
    products are designed to help you get the best sleep possible. We offer a wide range of products that are designed
    to help you get the best sleep possible. Our products are designed to help you get the best sleep possible. We
    offer a wide range of products that are designed to help you get the best sleep possible. Our products are designed
    to help you get the best sleep possible.</p>

</section>
{% endblock %}