{% if not on_checkout_page %}
{% comment %} Newsletter section {% endcomment %}
<section class="position-relative newsletter-section overflow-hidden mt-auto">
  <div class="sky"></div>
  <div class="bg-dark text-white w-100 h-100 newsletter__text-container">
    <div class="container h-100 d-flex flex-column align-items-start justify-content-center newsletter__text">
      <h3 class="h3">Sign up to our newsletter</h3>
      <p>We only email once per month</p>

      <div class="container row justify-content-start input-container">
        <div class="col-8 col-md-9 px-0">
          <input class="h-100 w-100" type="text" placeholder="Email">
        </div>
        <div class="col-4 col-md-3 px-0">
          <button class="btn btn-primary w-100">Sign up</button>
        </div>
      </div>

    </div>
  </div>
</section>
{% endif %}