{% load helper_tags %}
<section class="container py-5 product-section">

  <div class="row justify-content-center section-content product__content ">
    <div class="col-12 col-md-6">
      {% if product.image %}
      <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
      {% endif %}
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex justify-content-between align-items-center mt-2 mt-md-0">
        <h2 class="h2 w-100 text-left">{{ product.name }}</h2>
        {% if request.user.is_superuser %}
        {% if not is_featured_product %}
        <div class="action-button-container d-flex">
          <a class="btn btn-primary btn-sm edit-button" href="{% url 'edit_product' product.id %}">Edit</a>
          <a href="{% url 'delete_product' product.id %}" type="submit"
            class="btn btn-danger btn-sm delete-link ml-2">Delete</a>
        </div>
        {% endif %}
        {% endif %}
      </div>
      <p class="product-price">€ {{ product.price }}</p>
      {% include 'product/includes/reviews_stars.html' with reviews_count=reviews_count reviews_average=reviews_average %}
      <p class="mt-3 product__description">{{ product.description }}</p>
      <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
        {% csrf_token %}
        {% include 'includes/snippets/quantity_selector.html' %}
        {% include 'product/includes/add_to_cart_buttons.html' %}
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
      </form>
      {% if show_reviews %}
      <div class="reviews-container mt-5">
        <div class="d-flex justify-content-between align-items-center reviews-title-container">
          <h3 class="h3">Reviews</h2>
            <a href="{% url 'create_review' product.id %}" class="btn btn-primary btn-sm">Add a review</a>
        </div>
        {% if reviews %}
        <div class="reviews">
          {% for review in reviews %}
          <div class=" mt-3 bg-dark text-light p-4 review-card">
            <div class="review-header d-flex flex-column flex-md-row justify-content-between">
              <h5 class="h5">{{ review.title }}</h5>
              <div class="reviews__stars">
                {% for _ in review.rating|get_range %}
                <i class="fa fa-star fa-sm reviews_star"></i>
                {% endfor %}
              </div>
            </div>
            <div class="review-body">
              <p class="mt-2">{{ review.text }}</p>
            </div>
            <div class="review-footer d-flex justify-content-between align-items-center">
              <div class="profile-details d-flex align-items-center">
                {% if product.image %}
                <img width="60" height="60" src="{{ product.image.url }}"
                  alt="{{ review.user.first_name }} {{ review.user.last_name|slice:":1" }} profile image">
                {% endif %}
                <div class="ml-3 profile-actions">
                  <p class="m-0">{{ review.user.first_name }} {{ review.user.last_name|slice:":1" }}</p>
                  {% if request.user == review.user %}
                  <a href="{% url 'edit_review' review.id %}" class="text-light review-action-link">Edit</a> |
                  <a href="{% url 'delete_review' review.id %}"
                    class="text-light delete-link review-action-link">Delete</a>
                  {% endif %}
                </div>
              </div>
              <form class="d-flex flex-column align-items-center" action="{% url 'helpful_votes' review.id %}">
                {% csrf_token %}
                <button type="submit" class="btn text-light border-0 mt-2">
                  <i
                    class="fa-{% if user in review.helpful_votes.all %}solid{% else %}regular{% endif %} fa-xl fa-thumbs-up"></i>
                </button>
                <small>{{ review.get_helpful_votes }} helpful</small>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p class="mt-3">No reviews yet - be the first to leave a review!</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% comment %} Delete confirmation modal {% endcomment %}
<dialog id="delete-modal" class="bg-dark text-light">
  <div class="modal-box p-3">
    <h3 id="delete-modal-message" class="font-bold mb-3">Are you sure you want to proceed? This action cannot be undone.
    </h3>
    <div class="row pt-4 justify-content-lg-end">
      <div class="col-12 col-lg-3">
        <button type="button" class="btn btn-outline-light delete-cancel-button w-100">No, cancel.</button>
      </div>
      <div class="col-12 col-lg-3">
        <form id="delete-modal-form" action="" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger delete-confirm-button w-100 mt-2 mt-lg-0">Yes, proceed.</button>
        </form>
      </div>
    </div>
  </div>
</dialog>