<div class="toast custom-toast bg-white text-info rounded border-1 border-primary" data-autohide="false">
  <div class="w-100 toast-capper bg-info"></div>
  <div class="bg-white text-info toast-header">
    <strong class="mr-auto">Attention</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true"><i class="fas fa-times text-info"></i></span>
    </button>
  </div>
  <div class="toast-body">
    <div class="row">
      <div class="col">
        {{ message }}
        <hr class="mt-1 mb-3">
      </div>
    </div>
  </div>
</div>