<div class="toast custom-toast bg-primary text-light rounded border-1 border-primary" data-autohide="false">
  <div class="w-100 toast-capper bg-dark"></div>
  <div class="bg-primary text-light toast-header">
    <strong class="mr-auto">Success!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true"><i class="fas fa-times text-light"></i></span>
    </button>
  </div>
  <div class="toast-body bg-light text-primary">
    <div class="row">
      <div class="col">
        {{ message }}
        <hr class="mt-1 mb-3">
      </div>
    </div>
    {% if cart_total and not on_profile_page %}
    <p class="logo-font py-1">Cart quantity ({{ product_count }})</p>
    <div class="cart-notification-wrapper">
      {% for item in cart_items %}
      <div class="row">
        <div class="col-3 my-1">
          {% if item.product.image %}
          <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
          {% else %}
          <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
          {% endif %}
        </div>
        <div class="col-9">
          <p class="my-0"><strong>{{ item.product.name }}</strong></p>
          <p class="my-0 small text-secondary">Qty: {{ item.quantity }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col">
        <strong>
          <p class="mt-3 mb-1 text-black">
            Total{% if free_shipping_remainder > 0 %} (Exc. shipping){% endif %}:
            <span class="float-right">€{{ subtotal|floatformat:2 }}</span>
          </p>
        </strong>
        {% if free_shipping_remainder > 0 %}
        <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
          Spend <strong>€{{ free_shipping_remainder }}</strong> more to get free shipping!
        </p>
        {% endif %}
        <a href="{% url 'view_cart' %}" class="btn btn-primary rounded">
          <span class="text-uppercase">View cart</span>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>